/* COMMON */
body {
  font-size: 16px;
  font-weight: 400;
  color : #222;
  font-family: 'Open Sans', sans-serif;
}

img {
  display: block;
}

.inner {
  max-width : 1140px;
  margin : 0 auto;
  position : relative;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* HEADER */

header {
  width : 100%;
}

header .inner {
  height: 120px;
}

header .inner img {
  height: 41px;
  position: absolute;
  top : 0;
  bottom : 0;
  margin : auto;
  left: 0;
}

header .inner ul {
  display: flex;
  position : absolute;
  right : 0;
  bottom : 0;
  margin-bottom : 40px;
  width: 410px;
}

header .inner ul li {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
}

header .inner ul li a {
  display: block;
  padding : 15px 0;
  color : #333;
  font-weight: 700;
}

header .inner ul .underline {
  width : 25%;
  height: 2px;
  background-color: #222;
  position : absolute;
  bottom: 0;
  left: 0;
  transition : .5s ease-in-out;
}

header .inner ul li:nth-child(2):hover ~ .underline {
  left : 25%;
}

header .inner ul li:nth-child(3):hover ~ .underline {
  left : 50%;
}

header .inner ul li:nth-child(4):hover ~ .underline {
  left : 75%;
}


/* BANNER */

.banner {
  width : 100%;
}

.banner .inner {
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .inner img {
  height: 100%;
}

.banner .inner h1 {
  position : absolute;
  font-size: 80px;
  font-weight: 800;
  color : #fff;
  text-align: center;
  filter: drop-shadow(4px 4px 10px rgba(0,0,0,.5));
}

.banner .copyright {
  position: fixed;
  top : 550px;
  left: 50%;
  margin-left: -730px;
  font-size: 16px;
  transform : rotate(-90deg);
  color : #999;
}

/* ARTICLE */
.articles .inner .article {
  display: flex;
  margin-top: 105px;
  position: relative;
}

.articles .inner .article_2 {
  justify-content: flex-end;
}

.articles .text-box,
.articles .img-box  {
  font-weight: 800;
  width: 540px;
}

.articles .text-box h1 {
  font-size: 80px;
}

.articles .text-box h2 {
  font-size: 60px;
  margin-bottom: 45px;
}

.articles .text-box h3 {
  font-size: 40px;
}

.articles .text-box .more {
  font-size: 20px;
  cursor: pointer;
}

.articles .text-box p {
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 25px;
  line-height: 1.6;
}

.article_3 .text-box h1 {
  padding-top: 347px;
}

.articles .inner .article .img-box {
  position : absolute;
  top: 0;
  margin-top: -34px;
}

.articles .inner .article .img-box .img-data {
  font-weight: 800;
  font-size: 25px;
}

.articles .article_1 .img-box,
.articles .article_3 .img-box {
  right : 0; 
  text-align: right;
}

.articles .article_2 .img-box {
  left : 0;
}

/* NEWSLETTER */
.news-letter {
  margin-top: 105px;
}

.news-letter .inner {
  height: 260px;
  background-image: url('../image/newsletter.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.news-letter .inner .text-box {
  filter: drop-shadow(4px 4px 10px rgba(0,0,0,.5));
  position: relative;
}

.news-letter .inner .text-box h1 {
  font-size: 50px;
  color: #fff;

}
.news-letter .inner .text-box .btn {
  width: 135px;
  height: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 15px;
  background-color: #fff;
  position: absolute;
  right: 0;
  left: 0;
  margin:20px auto 0;
}

/* INFORMATION */

.info {
  text-align: center;
  margin-bottom: 80px;
}

.info ul {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  margin-bottom: 50px;
}

.info ul li {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 16px;
}
 
.info ul li::before {
  content: "";
  width: 6px;
  height: 2px;
  background-color: #333;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto -20px;
}

.info ul li:first-child::before {
  display: none;
}

.info span {
  line-height: 2;
}

/* CATEGORY */
.category {
  margin-bottom: 105px;
}

.category .inner {
  display: flex;
}
.category .img-box {
  margin-left: 30px;
  position: relative;
}

.category .img-box:last-child {
  margin-left: 0;
}

.category .img-box img {
  width: 360px;
}
.category .img-box h1 {
  position: absolute;
  display: block;
  font-size: 80px;
  font-weight: 800;
  width: 200px;
  text-align: center;
  right: 0;
  left: 0;
  top: 50%;
  margin: -40px auto 0; 
  color: #fff;
  filter: drop-shadow(4px 4px 10px rgba(0,0,0,.5))
}



